<div class="calendar-container">
  <div class="calendar-indicator">
    <button class="prev-btn" (click)="clickPrevBtn()" mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_left</mat-icon>
    </button>
    <span class="current-date">{{ currentDate | date : 'yy MMM' }}</span>
    <button class="next-btn" (click)="clickNextBtn()" mat-icon-button>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

  <div class="calendar-header">
    <span class="day-of-weeks" *ngFor="let day of dayOfWeeks">{{ day }}</span>
  </div>

  <div class="calendar-content">
    <mat-grid-list cols="7" rowHeight="1:1">
      <mat-grid-tile class="calendar-tile" *ngFor="let day of days">
        <div *ngIf="day.date != null" class="calendar-tile-content">
          <span class="grid-tile-date">{{ day.date.getDate() }}</span>
          <button *ngIf="day.events.length === 0" class="grid-tile-icon" (click)="clickAddEvent(day)" mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
          <button *ngIf="day.events.length > 0" class="grid-tile-icon" (click)="clickEditEvent(day)" mat-icon-button>
            <mat-icon>mode_edit</mat-icon>
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
